<template>
    <div>
        <div class="m-grid m-grid--hor m-grid--root m-page">
            <crm_header :customer="this.customer"></crm_header>
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
                <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i
                        class="la la-close"></i></button>
                <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
                    <crm_menu :customer="this.customer"></crm_menu>
                </div>
                <div class="m-grid__item m-grid__item--fluid m-wrapper">
                    <div class="m-subheader ">
                        <div class="d-flex align-items-center">
                            <div class="mr-auto">
                                <h3 class="m-subheader__title m-subheader__title--separator">
                                    Создание админов</h3>
                                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                                    <li class="m-nav__item m-nav__item--home">
                                        <a href="#" class="m-nav__link m-nav__link--icon">
                                            <i class="m-nav__link-icon la la-home"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="m-content">
                        <div class="m-portlet m-portlet--mobile">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-tools">
                                    <ul class="m-portlet__nav">
                                        <li class="m-portlet__nav-item">
                                            <a @click="unsetAdmin()"  data-toggle="modal" data-target="#m_modal_4" href="#"
                                               class="btn btn-focus m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                                                    <span>
                                                        <i class="la la-cart-plus"></i>
                                                        <span>Новый админ</span>
                                                    </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                <div class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-striped- table-badmined table-hover table-checkable dataTable dtr-inline"
                                                       id="m_table_1" role="grid" aria-describedby="m_table_1_info" >
                                                    <thead>
                                                    <tr role="row">
                                                        <td>ФИО</td>
                                                        <td>Телефон</td>
                                                        <td>Почта</td>
                                                        <td>Роль</td>
                                                        <th>Действия</th>
                                                    </tr>
                                                    </thead>
                                                    <tfoot>
                                                    <tr>
                                                        <td>ФИО</td>
                                                        <td>Телефон</td>
                                                        <td>Почта</td>
                                                        <td>Роль</td>
                                                        <th>Действия</th>
                                                    </tr>
                                                    </tfoot>
                                                    <tbody>
                                                    <tr v-for="admin in admins" role="row" class="odd">
                                                        <td>{{ admin.name }}</td>
                                                        <td>{{ admin.phone }}</td>
                                                        <td>{{ admin.email }}</td>
                                                        <td>{{ admin.role }}</td>
                                                        <td>
                                                        <span class="dropdown">
                                                                <a href="#" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">
                                                                  <i class="la la-ellipsis-h"></i>
                                                                </a>
                                                                <div class="dropdown-menu dropdown-menu-right">
                                                                    <a @click="handleUpdate(admin)" data-toggle="modal" data-target="#m_modal_4" class="dropdown-item" href="#"><i class="la la-edit"></i> Редактировать</a>
                                                                    <a @click="handleDelete(admin)" class="dropdown-item" href="#"><i class="la la-remove"></i> Удалить</a>
                                                                </div>
                                                            </span>
                                                            <a @click="handleUpdate(admin)" data-toggle="modal" data-target="#m_modal_4" href="#"
                                                               class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill"
                                                               title="View">
                                                                <i class="la la-edit"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="m_scroll_top" class="m-scroll-top">
            <i class="la la-arrow-up"></i>
        </div>
        <div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Админ</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="m-form m-form--fit m-form--label-align-right" ref="admin" method="POST" @submit.prevent="create">
                            <input hidden name="admin_id" v-model="c_admin.id" />
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group">
                                    <label>ФИО</label>
                                    <input v-model="c_admin.name" name="name" class="form-control m-input" type="text">
                                </div>
                                <div class="form-group m-form__group">
                                    <label>Телефон</label>
                                    <input v-model="c_admin.phone" name="phone" class="form-control m-input" type="text">
                                </div>
                                <div class="form-group m-form__group">
                                    <label>Email</label>
                                    <input v-model="c_admin.email" name="email" class="form-control m-input" type="text">
                                </div>
                                <div class="form-group m-form__group">
                                    <label>Пароль</label>
                                    <input v-model="c_admin.password" name="password" class="form-control m-input" type="text">
                                </div>
                                <div class="form-group m-form__group">
                                    <label>Роль</label>
                                    <select v-model="c_admin.role" name="role" required class="form-control m-input">
                                        <option  :key="'admin'" :label="'Админ'" :value="'admin'">admin</option>
                                        <option  :key="'moderator'" :label="'Пользователь'" :value="'moderator'">moderator</option>
                                    </select>
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-10">
                                            <button type="submit" class="btn btn-success">Сохранить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

    import crm_header from './includes/Header.vue';
    import crm_menu from './layouts/Menu.vue';
    const moment = require('moment');
    require('moment/locale/es');
    Vue.use(require('vue-moment'), {
        moment
    });
    export default {
        props: [ 'customer'],
        components: {
            crm_header,
            crm_menu
        },
        data() {
            return {
                admins: [],
                successful: false,
                deleting: false,
                error: false,
                c_admin: [],
                admin_list: [],
            };
        },
        created() {
            axios.post('/admin/admins').then(response => (this.admins = response.data));
            },
        methods: {
            hideSuccessMessage: function () {
                var _this = this;
                setTimeout(function () {
                    _this.successful = false;
                }, 2000)
            },
            create: function (event) {
                let data = new FormData(this.$refs.admin);

                axios.post('/admin/admin/create', data)
                    .then(
                        response => (
                            axios.post('/admin/admins').then(response => (this.admins = response.data)),
                                $( ".close" ).trigger( "click" ),
                                this.successful = true,
                                this.hideSuccessMessage()
                        )
                    )
                    .catch(
                        error => (
                            this.errors = error.response.data.error,
                            alert(this.errors)
                        ));
            },
            handleUpdate: function (admin) {
                this.c_admin = Object.assign({}, admin);
                $( ".close" ).trigger( "click" );
            },
            hideDeleteMessage: function(){
                var _this = this;
                setTimeout(function() {
                    _this.deleting = false;
                }, 2000);
            },
            handleDelete: function (admin) {
                var check = confirm("Вы уверены, что хотите удалить?");
                if (check == true) {
                    axios.post('/admin/admin/delete/id='+admin.id)
                        .then(
                            response => (
                                axios.post('/admin/admins').then(response => (this.admins = response.data)),
                                    this.deleting = true,
                                    this.hideDeleteMessage()
                            )
                        )
                }
            },
            unsetAdmin: function () {
                this.c_admin = [];
            },
        }
    }
</script>




