<template>
    <div>
        <div class="m-grid m-grid--hor m-grid--root m-page">
            <crm_header :customer="this.customer"></crm_header>
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
                <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i
                        class="la la-close"></i></button>
                <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
                    <crm_menu :customer="this.customer"></crm_menu>
                </div>
                <div class="m-grid__item m-grid__item--fluid m-wrapper">
                    <div class="m-subheader ">
                        <div class="d-flex align-items-center">
                            <div class="mr-auto">
                                <h3 class="m-subheader__title m-subheader__title--separator">
                                    База знаний для Админов</h3>
                                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                                    <li class="m-nav__item m-nav__item--home">
                                        <a href="#" class="m-nav__link m-nav__link--icon">
                                            <i class="m-nav__link-icon la la-home"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="m-content">
                        <div class="m-portlet m-portlet--mobile">
                            <div class="m-portlet__body">
                                <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                    <div class="m-demo__preview">
                                        <ul class="m-nav m-nav--active-bg" id="m_nav" role="tablist">
                                            <li class="m-nav__item">
                                                <a target="_blank" href="/public/Админ/Project Financial helper-9.pdf.pdf" class="m-nav__link">
                                                    <span class="m-nav__link-text">Блок-схема работы компании</span>
                                                </a>
                                            </li>
                                            <li class="m-nav__item">
                                                <a target="_blank" href="/public/Админ/Скрипт_ФинСоветник_Страх.docx" class="m-nav__link">
                                                    <span class="m-nav__link-text">СКРИПТЫ "Как работает колл-центр"</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

    import crm_header from './includes/Header.vue';
    import crm_menu from './layouts/Menu.vue';
    const moment = require('moment');
    require('moment/locale/es');
    Vue.use(require('vue-moment'), {
        moment
    });
    export default {
        props: [ 'customer'],
        components: {
            crm_header,
            crm_menu
        },
        data() {
            return {
                orders: [],
                c_order: [],
                token_list: [],
                admin_list: [],
                filter_token:'',
            };
        },
        created() {
            axios.post('/admin/task-stats').then(response => (this.orders = response.data));
            axios.post('/admin/token-list').then(response => (this.token_list = response.data));
            axios.post('/admin/admin-list').then(response => (this.admin_list = response.data));
            },
        methods: {
            handleUpdate: function (order) {
                this.c_order = Object.assign({}, order);
                $( ".close" ).trigger( "click" );
            },
            filter: function () {
                axios.post('/admin/task/filter-stat', {
                    'token': this.filter_token
                })
                    .then(
                        response => (
                            this.orders = response.data
                        )
                    );
            },
        }
    }
</script>




