<template>
    <div>
        <div class="m-grid m-grid--hor m-grid--root m-page">
            <crm_header :customer="this.customer"></crm_header>
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
                <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i
                        class="la la-close"></i></button>
                <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
                    <crm_menu :customer="this.customer"></crm_menu>
                </div>
                <div class="m-grid__item m-grid__item--fluid m-wrapper">
                    <div class="m-subheader ">
                        <div class="d-flex align-items-center">
                            <div class="mr-auto">
                                <h3 class="m-subheader__title m-subheader__title--separator">
                                    База знаний для Всех</h3>
                                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                                    <li class="m-nav__item m-nav__item--home">
                                        <a href="#" class="m-nav__link m-nav__link--icon">
                                            <i class="m-nav__link-icon la la-home"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="m-content">
                        <div class="m-portlet m-portlet--mobile">
                            <div class="m-portlet__body">
                                <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                    <div class="m-demo__preview">
                                        <ul class="m-nav m-nav--active-bg" id="m_nav" role="tablist">
                                            <li class="m-nav__item m-nav__item--active">
                                                <a class="m-nav__link" role="tab" id="m_nav_link_1" data-toggle="collapse" href="#m_nav_sub_1" aria-expanded=" false">
                                                    <span class="m-nav__link-title">
																				<span class="m-nav__link-wrap">
																					<span class="m-nav__link-text">Презентации</span>
																				</span>
																			</span>
                                                    <span class="m-nav__link-arrow"></span>
                                                </a>
                                                <ul class="m-nav__sub collapse show" id="m_nav_sub_1" role="tabpanel" aria-labelledby="m_nav_link_1" data-parent="#m_nav">
                                                    <li class="m-nav__item">
                                                        <a target="_blank" href="/public/Пользователь/Презентации для консультантов/A1 Управление бюджетом домохозяйства.pdf" class="m-nav__link">
                                                            <span class="m-nav__link-bullet m-nav__link-bullet--line"><span></span></span>
                                                            <span class="m-nav__link-text">A1 Управление бюджетом домохозяйства</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a target="_blank" href="/public/Пользователь/Презентации для консультантов/A2 Целевые накопительные планы.pdf" class="m-nav__link">
                                                            <span class="m-nav__link-bullet m-nav__link-bullet--line"><span></span></span>
                                                            <span class="m-nav__link-text">A2 Целевые накопительные планы</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a target="_blank" href="/public/Пользователь/Презентации для консультантов/A3 Кредитная карта и потребительские кредиты.pdf" class="m-nav__link">
                                                            <span class="m-nav__link-bullet m-nav__link-bullet--line"><span></span></span>
                                                            <span class="m-nav__link-text">A3 Кредитная карта и потребительские кредиты</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a target="_blank" href="/public/Пользователь/Презентации для консультантов/A5 Обязательное пенсионное страхование.pdf" class="m-nav__link">
                                                            <span class="m-nav__link-bullet m-nav__link-bullet--line"><span></span></span>
                                                            <span class="m-nav__link-text">A5 Обязательное пенсионное страхование</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a target="_blank" href="/public/Пользователь/Презентации для консультантов/A6 Права заемщика.pdf" class="m-nav__link">
                                                            <span class="m-nav__link-bullet m-nav__link-bullet--line"><span></span></span>
                                                            <span class="m-nav__link-text">A6 Права заемщика</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a target="_blank" href="/public/Пользователь/Презентации для консультантов/B1 Личный финансовый план.pdf" class="m-nav__link">
                                                            <span class="m-nav__link-bullet m-nav__link-bullet--line"><span></span></span>
                                                            <span class="m-nav__link-text">B1 Личный финансовый план</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a target="_blank" href="/public/Пользователь/Презентации для консультантов/B3 Покупка квартиры в кредит.pdf" class="m-nav__link">
                                                            <span class="m-nav__link-bullet m-nav__link-bullet--line"><span></span></span>
                                                            <span class="m-nav__link-text">B3 Покупка квартиры в кредит</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a target="_blank" href="/public/Пользователь/Презентации для консультантов/B6 Права вкладчика.pdf" class="m-nav__link">
                                                            <span class="m-nav__link-bullet m-nav__link-bullet--line"><span></span></span>
                                                            <span class="m-nav__link-text">B6 Права вкладчика</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a target="_blank" href="/public/Пользователь/Презентации для консультантов/C1 Оптимизация структуры активов и пассивов.pdf" class="m-nav__link">
                                                            <span class="m-nav__link-bullet m-nav__link-bullet--line"><span></span></span>
                                                            <span class="m-nav__link-text">C1 Оптимизация структуры активов и пассивов</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a target="_blank" href="/public/Пользователь/Презентации для консультантов/C3 Покупка медицинских и образовательных услуг в кредит.pdf" class="m-nav__link">
                                                            <span class="m-nav__link-bullet m-nav__link-bullet--line"><span></span></span>
                                                            <span class="m-nav__link-text">C3 Покупка медицинских и образовательных услуг в кредит</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a target="_blank" href="/public/Пользователь/Презентации для консультантов/D1 Бережное потребление.pdf" class="m-nav__link">
                                                            <span class="m-nav__link-bullet m-nav__link-bullet--line"><span></span></span>
                                                            <span class="m-nav__link-text">D1 Бережное потребление</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="m-nav__item">
                                                <a target="_blank" href="http://portal-kmfg.ru/fo/materials/" class="m-nav__link">
                                                    <span class="m-nav__link-text">Cсылка на портал по фин. грамотности</span>
                                                </a>
                                            </li>
                                            <li class="m-nav__item">
                                                <a target="_blank" href="https://finsovet.me" class="m-nav__link">
                                                    <span class="m-nav__link-text">Ссылка на Базу знаний</span>
                                                </a>
                                            </li>
                                            <li class="m-nav__item">
                                                <a target="_blank" href="/public/Пользователь/Памятка по контакту с клиентом.docx" class="m-nav__link">
                                                    <span class="m-nav__link-text">Памятка по контакту с клиентом</span>
                                                </a>
                                            </li>
                                            <li class="m-nav__item">
                                                <a target="_blank" href="/public/Пользователь/БлокСхема КОНСУЛЬТАЦИЯ.pdf" class="m-nav__link">
                                                    <span class="m-nav__link-text">БлокСхема КОНСУЛЬТАЦИЯ</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

    import crm_header from './includes/Header.vue';
    import crm_menu from './layouts/Menu.vue';
    const moment = require('moment');
    require('moment/locale/es');
    Vue.use(require('vue-moment'), {
        moment
    });
    export default {
        props: [ 'customer'],
        components: {
            crm_header,
            crm_menu
        },
        data() {
            return {
                orders: [],
                c_order: [],
                token_list: [],
                admin_list: [],
                filter_token:'',
            };
        },
        created() {
            axios.post('/admin/task-stats').then(response => (this.orders = response.data));
            axios.post('/admin/token-list').then(response => (this.token_list = response.data));
            axios.post('/admin/admin-list').then(response => (this.admin_list = response.data));
            },
        methods: {
            handleUpdate: function (order) {
                this.c_order = Object.assign({}, order);
                $( ".close" ).trigger( "click" );
            },
            filter: function () {
                axios.post('/admin/task/filter-stat', {
                    'token': this.filter_token
                })
                    .then(
                        response => (
                            this.orders = response.data
                        )
                    );
            },
        }
    }
</script>




