<template>
    <div>
        <div class="m-grid m-grid--hor m-grid--root m-page">
            <crm_header :customer="this.customer"></crm_header>
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
                <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i
                        class="la la-close"></i></button>
                <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
                    <crm_menu :customer="this.customer"></crm_menu>
                </div>
                <div class="m-grid__item m-grid__item--fluid m-wrapper">
                    <div class="m-subheader ">
                        <div class="d-flex align-items-center">
                            <div class="mr-auto">
                                <h3 class="m-subheader__title m-subheader__title--separator">
                                    Оформление и создание заказа</h3>
                                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                                    <li class="m-nav__item m-nav__item--home">
                                        <a href="#" class="m-nav__link m-nav__link--icon">
                                            <i class="m-nav__link-icon la la-home"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="m-content">
                        <div class="m-portlet m-portlet--mobile">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Поиск по заказам
                                        </h3>
                                    </div>
                                </div>
                                <!--<div class="m-portlet__head-tools">-->
                                    <!--<ul class="m-portlet__nav">-->
                                        <!--<li class="m-portlet__nav-item">-->
                                            <!--<a @click="unsetcOrder()"  data-toggle="modal" data-target="#m_modal_4" href="#"-->
                                                <!--class="btn btn-focus m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;pill m-btn&#45;&#45;icon m-btn&#45;&#45;air">-->
                                                    <!--<span>-->
                                                        <!--<i class="la la-cart-plus"></i>-->
                                                        <!--<span>Новый заказ</span>-->
                                                    <!--</span>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            </div>
                            <div class="m-portlet__body">
                                <form class="m-form m-form--fit m--margin-bottom-20">
                                    <div class="row m--margin-bottom-20">
                                        <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                                            <label>Имя КО</label>
                                                <select v-model="filter_ko" name="ko" required class="form-control m-input">
                                                    <option  :key="'Магазин/Банк'" :label="'Магазин/Банк'" :value="'Магазин/Банк'">Магазин/Банк</option>
                                                    <option  :key="'РГС'" :label="'РГС'" :value="'РГС'">РГС</option>
                                                </select>
                                        </div>
                                        <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                                            <label>Номер сертификата</label>
                                            <div class="custom-select-crm-2">
                                                <v-select :options="token_list" v-model="filter_token" ></v-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row m--margin-bottom-20">
                                        <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                                            <label>№ Заявки</label>
                                            <input type="text" v-model="filter_order_id" name="order_id" class="form-control m-input" >
                                        </div>
                                        <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                                            <label>ФИО</label>
                                            <input type="text" v-model="filter_name" name="name" class="form-control m-input" >
                                        </div>
                                        <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                                            <label>Телефон:</label>
                                            <input type="text" v-model="filter_phone" name="phone" class="form-control m-input" >
                                        </div>
                                    </div>
                                    <div class="m-separator m-separator--md m-separator--dashed"></div>
                                    <div class="row m--margin-bottom-20">
                                        <div class="col-lg-12">
                                            <button type="button"  class="btn btn-brand m-btn m-btn--icon" @click="filter()" >
                                                    <span>
                                                        <i class="la la-search"></i>
                                                        <span>Поиск</span>
                                                    </span>
                                            </button>
                                            &nbsp;&nbsp;
                                            <button type="button" class="btn btn-secondary m-btn m-btn--icon" @click="reset()" >
                                                    <span>
                                                        <i class="la la-close"></i>
                                                        <span>Сбросить</span>
                                                    </span>
                                            </button>
                                        </div>
                                    </div>
                                    <div v-if="successful" class="alert alert-success alert-dismissible fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        </button>
                                        <strong>Спасибо!</strong> Вы успешно сохранили заказ.
                                    </div>
                                    <div v-if="deleting" class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        </button>
                                        <strong>Внимание!</strong> Вы успешно удалили заказ.
                                    </div>
                                </form>
                                <div class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-striped- table-bordered table-hover table-checkable dataTable dtr-inline"
                                                       id="m_table_1" role="grid" aria-describedby="m_table_1_info" >
                                                    <thead>
                                                    <tr role="row">
                                                        <td>№ Заявки</td>
                                                        <td>Сертификат</td>
                                                        <td>Дата создания</td>
                                                        <td>ФИО</td>
                                                        <td>Телефон</td>
                                                        <td>Общая сумма</td>
                                                        <td>Статус</td>
                                                        <td>Источник</td>
                                                        <td>КО</td>
                                                        <th>Действия</th>
                                                    </tr>
                                                    </thead>
                                                    <tfoot>
                                                    <tr>
                                                        <td>№ Заявки</td>
                                                        <td>Сертификат</td>
                                                        <td>Дата создания</td>
                                                        <td>ФИО</td>
                                                        <td>Телефон</td>
                                                        <td>Общая сумма</td>
                                                        <td>Статус</td>
                                                        <td>Источник</td>
                                                        <td>КО</td>
                                                        <th>Действия</th>
                                                    </tr>
                                                    </tfoot>
                                                    <tbody>
                                                    <tr v-for="order in orders" role="row" class="odd">
                                                        <td>{{ order.id }}</td>
                                                        <td>{{ order.token_1 }}</td>
                                                        <td>{{ order.created_at | moment("DD-MM-YYYY")}}</td>
                                                        <td>{{ order.surname }} {{ order.name }} {{ order.second_name }}</td>
                                                        <td>{{ order.phone }}</td>
                                                        <td>{{ order.amount }}</td>
                                                        <td>
                                                            <span v-if="order.status == 'Не оплачен'" class="m-badge  m-badge--primary m-badge--wide">Не оплачен</span>
                                                            <span v-else-if="order.status == 'Оплачен'" class="m-badge  m-badge--success m-badge--wide">Оплачен</span>
                                                        </td>
                                                        <td>{{ order.source }}</td>
                                                        <td>{{ order.ko }}</td>
                                                        <td>
                                                        <span class="dropdown">
                                                                <a href="#" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">
                                                                  <i class="la la-ellipsis-h"></i>
                                                                </a>
                                                                <div class="dropdown-menu dropdown-menu-right">
                                                                    <a @click="handleUpdate(order)" data-toggle="modal" data-target="#m_modal_4" class="dropdown-item" href="#"><i class="la la-edit"></i> Редактировать</a>
                                                                    <a v-if="customer.role == 'admin' && order.tasks.length == 0" @click="handleDelete(order)" class="dropdown-item" href="#"><i class="la la-remove"></i> Удалить</a>
                                                                </div>
                                                            </span>
                                                            <a @click="handleUpdate(order)" data-toggle="modal" data-target="#m_modal_4" href="#"
                                                               class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill"
                                                               title="View">
                                                                <i class="la la-edit"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="m_scroll_top" class="m-scroll-top">
            <i class="la la-arrow-up"></i>
        </div>
        <div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Заказ</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="m-form m-form--fit m-form--label-align-right" ref="order" method="POST" @submit.prevent="create">
                            <input hidden name="order_id" v-model="c_order.id" />
                            <div class="m-demo" v-if="c_order.type_1 != ''">
                                <div class="m-portlet__body m-demo__preview">
                                    <div class="form-group m-form__group">
                                        <label>Тип пакета</label>
                                        <input v-model="c_order.type_1" required name="type_1" class="form-control m-input" type="text">
                                    </div>
                                    <div class="form-group m-form__group">
                                        <label>Кол-во</label>
                                        <input v-model="c_order.quantity_1" name="quantity_1" class="form-control m-input" type="text">
                                    </div>
                                    <div class="form-group m-form__group">
                                        <label>Номер сертификата</label>
                                        <input v-model="c_order.token_1" required name="token_1" class="form-control m-input" type="text">
                                    </div>
                                    <div class="form-group m-form__group">
                                        <label>Стоимость пакету с учётом кол-ва</label>
                                        <input v-model="c_order.price_1" name="price_1" class="form-control m-input" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group">
                                    <label>Имя КО</label>
                                    <input v-model="c_order.ko" name="ko" class="form-control m-input" type="text">
                                </div>
                                <div class="form-group m-form__group">
                                    <label>Фамилия</label>
                                    <input v-model="c_order.surname" name="surname" class="form-control m-input" type="text">
                                </div>
                                <div class="form-group m-form__group">
                                    <label>Имя</label>
                                    <input v-model="c_order.name" required name="name" class="form-control m-input" type="text">
                                </div>
                                <div class="form-group m-form__group">
                                    <label>Отчество</label>
                                    <input v-model="c_order.second_name" name="second_name" class="form-control m-input" type="text">
                                </div>
                                <div class="form-group m-form__group">
                                    <label>Почта</label>
                                    <input v-model="c_order.email" name="email" class="form-control m-input" type="text">
                                    <span v-if="c_order.confirm == 0" class="m-form__help">Почта не подтверждена.</span>

                                </div>
                                <div class="form-group m-form__group">
                                    <label>Телефон</label>
                                    <input v-model="c_order.phone" name="phone" class="form-control m-input" type="text">
                                </div>
                                <div class="form-group m-form__group">
                                    <label>Дата рождения</label>
                                    <input v-model="c_order.birthday" name="birthday" class="form-control m-input" type="date">
                                </div>
                                <div class="form-group m-form__group">
                                    <label>Место рождения</label>
                                    <input v-model="c_order.place_of_birth" name="place_of_birth" class="form-control m-input" type="text">
                                </div>
                                <div class="form-group m-form__group">
                                    <label >Номер документа, удостоверяющего личность</label>
                                    <input v-model="c_order.id_document_number" name="id_document_number" class="form-control m-input" type="text">
                                </div>
                                <div class="form-group m-form__group">
                                    <label >Серия документа, удостоверяющего личность</label>
                                    <input v-model="c_order.identity_document_series" name="identity_document_series" class="form-control m-input" type="text">
                                </div>
                                <div class="form-group m-form__group">
                                    <label >Дата выдачи документа, удостоверяющего личность</label>
                                    <input v-model="c_order.identity_date_document" name="identity_date_document" class="form-control m-input" type="date">
                                </div>
                                <div class="form-group m-form__group">
                                    <label >Наименование органа, выдавшего документ</label>
                                    <input v-model="c_order.name_of_issuing_authority" name="name_of_issuing_authority" class="form-control m-input" type="text">
                                </div>
                                <div class="form-group m-form__group">
                                    <label >ИНН</label>
                                    <input v-model="c_order.tin" name="tin" class="form-control m-input" type="text">
                                </div>
                                <div class="form-group m-form__group">
                                    <label >Населенный пункт адреса регистрации</label>
                                    <input v-model="c_order.address_register" name="address_register" class="form-control m-input" type="text">
                                </div>
                                <div class="form-group m-form__group">
                                    <label >Улица адреса регистрации</label>
                                    <input v-model="c_order.street_register" name="street_register" class="form-control m-input" type="text">
                                </div>
                                <div class="form-group m-form__group">
                                    <label >Населенный пункт адреса фактического проживания</label>
                                    <input v-model="c_order.address_of_live" name="address_of_live" class="form-control m-input" type="text">
                                </div>
                                <div class="form-group m-form__group">
                                    <label >Улица адреса фактического проживания</label>
                                    <input v-model="c_order.street_of_live" name="street_of_live" class="form-control m-input" type="text">
                                </div>
                                <div class="m-form__group form-group">
                                    <div class="m-checkbox-list">
                                        <label class="m-checkbox m-checkbox--state-success">
                                            <input v-if="c_order.ki === '1'" checked name="ki" value="1" type="checkbox">
                                            <input v-else name="ki" value="1" type="checkbox">
                                            <special-tag >Нужно ли КИ?</special-tag>
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group m-form__group">
                                    <label>Скан заявления, если нужно КИ</label>
                                    <div v-if="c_order.scan"></div>
                                    <div v-if="c_order.scan"><a target="_blank" :href="'http://partnergui.finsovet.online/public/storage/Scan/'+c_order.scan" >Просмотреть скан</a></div>
                                    <div></div>
                                </div>
                                <div class="form-group m-form__group">
                                    <label>Фото чека оплаты</label>
                                    <div v-if="c_order.check_photo"></div>
                                    <div v-if="c_order.check_photo"><a target="_blank" :href="'http://partnergui.finsovet.online/public/storage/Check/'+c_order.check_photo" >Просмотреть чек</a></div>
                                    <div></div>
                                </div>
                                <div class="form-group m-form__group">
                                    <label>Статус</label>
                                    <select v-model="c_order.status" name="status" required class="form-control m-input">
                                        <option  :key="'Не оплачен'" :label="'Не оплачен'" :value="'Не оплачен'">Не оплачен</option>
                                        <option  :key="'Оплачен'" :label="'Оплачен'" :value="'Оплачен'">Оплачен</option>
                                    </select>
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-10">
                                            <button type="submit" class="btn btn-success">Сохранить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import crm_header from './includes/Header.vue';
    import crm_menu from './layouts/Menu.vue';
    const moment = require('moment');
    require('moment/locale/es');
    Vue.use(require('vue-moment'), {
        moment
    });
    export default {
        props: [ 'customer'],
        components: {
            crm_header,
            crm_menu
        },
        data() {
            return {
                orders: [],
                successful: false,
                deleting: false,
                error: false,
                c_order: [],
                token_list: [],
                filter_token:'',
                filter_order_id:'',
                filter_name:'',
                filter_phone:'',
                filter_ko:'',

            };
        },
        created() {
            axios.post('/admin/orders').then(response => (this.orders = response.data));
            axios.post('/admin/token-list').then(response => (this.token_list = response.data));
        },
        methods: {
            hideSuccessMessage: function () {
                var _this = this;
                setTimeout(function () {
                    _this.successful = false;
                }, 2000)
            },
            create: function (event) {

                axios.post('/admin/order/create', new FormData(this.$refs.order))
                    .then(
                        response => (
                            axios.post('/admin/orders').then(response => (this.orders = response.data)),
                                $( ".close" ).trigger( "click" ),
                                this.successful = true,
                                this.hideSuccessMessage()
                        )
                    )
                    .catch(
                        error => (
                            this.error = true,
                                this.errors = error.response.data.errors
                        ));
            },
            handleUpdate: function (order) {
                this.c_order = Object.assign({}, order);
                $( ".close" ).trigger( "click" );
                console.log('click');
            },
            hideDeleteMessage: function(){
                var _this = this;
                setTimeout(function() {
                    _this.deleting = false;
                }, 2000);
            },
            unsetcOrder: function () {
                this.c_order = [];
            },
            filter: function () {
                axios.post('/admin/order/filter', {
                    'order_id': this.filter_order_id, 'name': this.filter_name, 'phone': this.filter_phone,'token': this.filter_token
                    ,'ko': this.filter_ko,
                })
                    .then(
                        response => (
                            this.orders = response.data
                        )
                    );
            },
            handleDelete: function (order) {
                var check = confirm("Вы уверены, что хотите удалить?");
                if (check == true) {
                    axios.post('/admin/order/delete/id='+order.id)
                        .then(
                            response => (
                                axios.post('/admin/orders').then(response => (this.orders = response.data)),
                                    this.deleting = true,
                                    this.hideDeleteMessage()
                            )
                        )
                }
            },
            reset: function () {
                this.filter_order_id = '';
                this.filter_name = '';
                this.filter_phone = '';

                axios.post('/admin/orders').then(response => (this.orders = response.data));
            },
            showForm: function () {
                this.successful = false;
                this.deleting = false;
                this.seen = true;
                this.c_order.id = null;
            }
        }
    }

</script>




