<template>
    <div>
        <div class="m-grid m-grid--hor m-grid--root m-page">
            <crm_header :customer="this.customer"></crm_header>
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
                <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i
                        class="la la-close"></i></button>
                <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
                    <crm_menu :customer="this.customer"></crm_menu>
                </div>
                <div class="m-grid__item m-grid__item--fluid m-wrapper">
                    <div class="m-subheader ">
                        <div class="d-flex align-items-center">
                            <div class="mr-auto">
                                <h3 class="m-subheader__title m-subheader__title--separator">
                                    Оформление и создание тасков к сертификатам</h3>
                                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                                    <li class="m-nav__item m-nav__item--home">
                                        <a href="#" class="m-nav__link m-nav__link--icon">
                                            <i class="m-nav__link-icon la la-home"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="m-content">
                        <div class="m-portlet m-portlet--mobile">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Поиск по таскам
                                        </h3>
                                    </div>
                                </div>
                                <div class="m-portlet__head-tools">
                                    <ul class="m-portlet__nav">
                                        <li class="m-portlet__nav-item">
                                            <a @click="unsetTask()"  data-toggle="modal" data-target="#m_modal_4" href="#"
                                                class="btn btn-focus m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                                                    <span>
                                                        <i class="la la-cart-plus"></i>
                                                        <span>Новый таск</span>
                                                    </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                <form class="m-form m-form--fit m--margin-bottom-20">
                                    <div class="row m--margin-bottom-20">
                                        <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                                            <label>№ Заявки</label>
                                            <input type="text" v-model="filter_task_id" name="task_id" class="form-control m-input" >
                                        </div>
                                        <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                                            <label>Номер сертификата</label>
                                            <div class="custom-select-crm-2">
                                                <v-select :options="token_list" v-model="filter_token" ></v-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-separator m-separator--md m-separator--dashed"></div>
                                    <div class="row m--margin-bottom-20">
                                        <div class="col-lg-12">
                                            <button type="button"  class="btn btn-brand m-btn m-btn--icon" @click="filter()" >
                                                    <span>
                                                        <i class="la la-search"></i>
                                                        <span>Поиск</span>
                                                    </span>
                                            </button>

                                        </div>
                                    </div>
                                    <div v-if="successful" class="alert alert-success alert-dismissible fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        </button>
                                        <strong>Спасибо!</strong> Вы успешно сохранили заказ.
                                    </div>
                                    <div v-if="deleting" class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        </button>
                                        <strong>Внимание!</strong> Вы успешно удалили таск.
                                    </div>
                                </form>
                                <div class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-striped- table-btasked table-hover table-checkable dataTable dtr-inline"
                                                       id="m_table_1" role="grid" aria-describedby="m_table_1_info" >
                                                    <thead>
                                                    <tr role="row">
                                                        <td>№ Таска</td>
                                                        <td>Дата создания</td>
                                                        <td>Номер сертификата</td>
                                                        <td>Тема обращения</td>
                                                        <td>Исполнитель</td>
                                                        <td>Статус</td>
                                                        <th>Действия</th>
                                                    </tr>
                                                    </thead>
                                                    <tfoot>
                                                    <tr>
                                                        <td>№ Таска</td>
                                                        <td>Дата создания</td>
                                                        <td>Номер сертификата</td>
                                                        <td>Тема обращения</td>
                                                        <td>Исполнитель</td>
                                                        <td>Статус</td>
                                                        <th>Действия</th>
                                                    </tr>
                                                    </tfoot>
                                                    <tbody>
                                                    <tr v-for="task in tasks" role="row" :class="{'m-alert m-alert--outline m-alert--outline-2x alert alert-warning alert-dismissible fade show':checkDate(task) == 1,
                                                    'm-alert m-alert--outline m-alert--outline-2x alert alert-warning alert-danger fade show':checkDate(task) == 2}">
                                                        <td>{{ task.id }}</td>
                                                        <td>{{ task.created_at | moment("DD-MM-YYYY")}}</td>
                                                        <td >{{ task.order.token_1 }}</td>
                                                        <td>{{ task.subject }}</td>
                                                        <td>{{ task.admin.name }}</td>
                                                        <td>
                                                            <span v-if="task.status == 'Не выполнен'" class="m-badge  m-badge--primary m-badge--wide">Не выполнен</span>
                                                            <span v-else-if="task.status == 'Выполнен'" class="m-badge  m-badge--success m-badge--wide">Выполнен</span>
                                                            <span v-else-if="task.status == 'В работе'" class="m-badge  m-badge--success m-badge--wide">В работе</span>
                                                            <span v-else-if="task.status == 'Проверено'" class="m-badge  m-badge--warning m-badge--wide">Проверено</span>
                                                            <span v-else class="m-badge  m-badge--warning  m-badge--wide">Закрыт</span>
                                                        </td>
                                                        <td>
                                                        <span class="dropdown">
                                                                <a href="#" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">
                                                                  <i class="la la-ellipsis-h"></i>
                                                                </a>
                                                                <div class="dropdown-menu dropdown-menu-right">
                                                                    <a @click="handleUpdate(task)" data-toggle="modal" data-target="#m_modal_4" class="dropdown-item" href="#"><i class="la la-edit"></i> Редактировать</a>
                                                                    <a v-if="customer.role == 'admin'" @click="handleDelete(task)" class="dropdown-item" href="#"><i class="la la-remove"></i> Удалить</a>
                                                                    <a  @click="sendMessage(task)" class="dropdown-item" href="#"><i class="la la-phone"></i> Не дозвонились</a>
                                                                </div>
                                                            </span>
                                                            <a @click="handleUpdate(task)" data-toggle="modal" data-target="#m_modal_4" href="#"
                                                               class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill"
                                                               title="View">
                                                                <i class="la la-edit"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="m_scroll_top" class="m-scroll-top">
            <i class="la la-arrow-up"></i>
        </div>
        <div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Таск</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="m-form m-form--fit m-form--label-align-right" ref="task" method="POST" @submit.prevent="create">
                            <input hidden name="task_id" v-model="c_task.id" />
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group">
                                    <label>Номер сертификата</label>
                                    <div class="custom-select-crm">
                                        <v-select :options="token_list" v-model="c_task.token" :value="c_task.token" ></v-select>
                                    </div>
                                </div>
                                <div class="form-group m-form__group">
                                    <label>Тип таска</label>
                                    <select v-model="c_task.type" name="type" required class="form-control m-input">
                                        <option  :key="'Устная'" :label="'Устная'" :value="'Устная'">Устная</option>
                                        <option :key="'Письменная'" :label="'Письменная'" :value="'Письменная'">Письменная</option>
                                        <option :key="'Фин. план'" :label="'Фин. план'" :value="'Фин. план'">Фин. план</option>
                                    </select>
                                </div>
                                <div class="form-group m-form__group">
                                    <label>Тема обращения</label>
                                    <input v-model="c_task.subject" required name="subject" class="form-control m-input" type="text">
                                </div>
                                <div class="form-group m-form__group">
                                    <label>ФИО (подтягивается авт. по сертификату )</label>
                                    <input v-model="c_task.name" readonly class="form-control m-input" type="text">
                                </div>
                                <div class="form-group m-form__group">
                                    <label>Телефон (подтягивается авт. по сертификату )</label>
                                    <input v-model="c_task.phone" readonly class="form-control m-input" type="text">
                                </div>
                                <div class="form-group m-form__group">
                                    <label>Комментарий</label>
                                    <textarea v-model="c_task.comment"  required name="comment" class="form-control m-input" id="exampleTextarea" rows="3"></textarea>
                                </div>
                                <div class="form-group m-form__group">
                                    <label>Крайняя дата</label>
                                    <input v-model="c_task.date" required name="date" class="form-control m-input" type="date">
                                </div>
                                <div class="form-group m-form__group">
                                    <label>Временной интрервал</label>
                                    <select v-model="c_task.time" name="time" required class="form-control m-input">
                                        <option  :key="'9-12'" :label="'9-12'" :value="'12'">9-12</option>
                                        <option :key="'12-15'" :label="'12-15'" :value="'15'">12-15</option>
                                        <option :key="'15-18'" :label="'15-18'" :value="'18'">15-18</option>
                                        <option :key="'18-21'" :label="'18-21'" :value="'21'">18-21</option>
                                    </select>
                                </div>
                                <div class="form-group m-form__group">
                                    <label>За кем закрепить таск</label>
                                    <div class="custom-select-crm-1">
                                        <v-select v-model="c_task.add_admin_id" :options="admin_list" :value="c_task.add_admin_id" ></v-select>
                                    </div>
                                </div>
                                <div class="form-group m-form__group">
                                    <label>Статус</label>
                                    <select v-model="c_task.status" name="status" required class="form-control m-input">
                                        <option  :key="'Не выполнен'" :label="'Не выполнен'" :value="'Не выполнен'">Не выполнен</option>
                                        <option  :key="'В работе'" :label="'В работе'" :value="'В работе'">В работе</option>
                                        <option  :key="'Выполнен'" :label="'Выполнен'" :value="'Выполнен'">Выполнен</option>
                                        <option  :key="'Закрыт'" :label="'Закрыт'" :value="'Закрыт'">Закрыт</option>
                                        <option v-if="customer.role == 'admin'"  :key="'Проверено'" :label="'Проверено'" :value="'Проверено'">Проверено</option>
                                    </select>
                                </div>
                            </div>
                            <div v-if="customer.role == 'admin' || c_task.old_add_admin_id == customer.email" class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-10">
                                            <button type="submit" class="btn btn-success">Сохранить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

    import crm_header from './includes/Header.vue';
    import crm_menu from './layouts/Menu.vue';
    const moment = require('moment');
    require('moment/locale/es');
    Vue.use(require('vue-moment'), {
        moment
    });
    export default {
        props: [ 'customer'],
        components: {
            crm_header,
            crm_menu
        },
        data() {
            return {
                tasks: [],
                successful: false,
                deleting: false,
                error: false,
                c_task: [],
                token_list: [],
                admin_list: [],
                filter_task_id:'',
                filter_token:'',
            };
        },
        created() {
            axios.post('/admin/tasks').then(response => (this.tasks = response.data));
            axios.post('/admin/token-list').then(response => (this.token_list = response.data));
            axios.post('/admin/admin-list').then(response => (this.admin_list = response.data));
            },
        methods: {
            hideSuccessMessage: function () {
                var _this = this;
                setTimeout(function () {
                    _this.successful = false;
                }, 2000)
            },
            create: function (event) {
                let data = new FormData(this.$refs.task);

                if(typeof (this.c_task.token) === 'string'){
                    data.append('token', this.c_task.token);
                }else{
                    data.append('token', this.c_task.token.value);
                }

                if(typeof (this.c_task.add_admin_id) === 'string'){
                    data.append('add_admin_id', this.c_task.add_admin_id);
                }else{
                    data.append('add_admin_id', this.c_task.add_admin_id.value);
                }
                axios.post('/admin/task/create', data)
                    .then(
                        response => (
                            axios.post('/admin/tasks').then(response => (this.tasks = response.data)),
                                $( ".close" ).trigger( "click" ),
                                this.successful = true,
                                this.hideSuccessMessage()
                        )
                    )
                    .catch(
                        error => (
                            this.errors = error.response.data.error,
                            alert(error.response.data.error)
                        ));
            },
            handleUpdate: function (task) {
                this.c_task = Object.assign({}, task);
                this.c_task.token = this.c_task.token;
                this.c_task.add_admin_id = this.c_task.add_admin_id;
                this.c_task.old_add_admin_id = this.c_task.add_admin_id;
                $( ".close" ).trigger( "click" );
            },
            hideDeleteMessage: function(){
                var _this = this;
                setTimeout(function() {
                    _this.deleting = false;
                }, 2000);
            },
            unsetTask: function () {
                this.c_task = [];
            },
            filter: function () {
                axios.post('/admin/task/filter', {
                    'token': this.filter_token, 'id': this.filter_task_id
                })
                    .then(
                        response => (
                            this.tasks = response.data
                        )
                    );
            },
            sendMessage: function (task) {
                var check = confirm("Вы уверены, что хотите отправить смс?");
                if (check == true) {
                    axios.post('/admin/task/send-message', {
                        'task': task
                    })
                        .then(
                            response => (
                                this.tasks = response.data
                            )
                        );
                }

            },
            handleDelete: function (task) {
                var check = confirm("Вы уверены, что хотите удалить?");
                if (check == true) {
                    axios.post('/admin/task/delete/id='+task.id)
                        .then(
                            response => (
                                axios.post('/admin/tasks').then(response => (this.tasks = response.data)),
                                    this.deleting = true,
                                    this.hideDeleteMessage()
                            )
                        )
                }
            },
            reset: function () {
                this.filter_task_id = '';
                this.filter_name = '';
                this.filter_phone = '';

                axios.post('/admin/tasks').then(response => (this.tasks = response.data));
            },
            checkDate: function (task) {
                if(moment(task.date).format('DD-MM-YYYY') ==  moment(Date('d-m-Y')).format('DD-MM-YYYY')){

                     var currentTime = moment(Date('H:m'),'HH:mm').subtract(2, 'hour').format('HH:mm').valueOf(),
                         taskTime = moment(task.time,'HH:mm').subtract(3, 'hour').format('HH:mm').valueOf();
                    if(task.status != 'Выполнен' && task.status != 'Закрыт' && task.status != 'Проверено' && task.status != 'В работе'){
                        if(currentTime >= taskTime){
                            var currentTimeN = moment(Date('H:m'),'HH:mm').subtract(2, 'hour').format('HH:mm').valueOf(),
                                taskTimeN = moment(task.time,'HH:mm').format('HH:mm').valueOf();

                            if(currentTimeN >= taskTimeN){
                                return 2;
                            }else{
                                return 1;
                            }
                        }
                    }
                }else{

                    if(task.status != 'Выполнен' && task.status != 'Закрыт' && task.status != 'Проверено' && task.status != 'В работе'){
                        if(moment(Date('Y')).format('YYYY') > moment(task.date).format('YYYY')){
                            return 2;
                        }else{
                            if(moment(Date('m')).format('MM') >= moment(task.date).format('MM')){
                                if(moment(Date('d')).format('DD') > moment(task.date).format('DD')){
                                    return 2;
                                }
                            }

                        }
                    }
                    return false;
                }
            }
        }
    }
</script>

<style scoped>
    .alert.m-alert--outline.alert-danger{
        font-weight:800;
    }
</style>


