<template>
    <div>
        <div class="m-grid m-grid--hor m-grid--root m-page">
            <crm_header :customer="this.customer"></crm_header>
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
                <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i
                        class="la la-close"></i></button>
                <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
                    <crm_menu :customer="this.customer"></crm_menu>
                </div>
                <div class="m-grid__item m-grid__item--fluid m-wrapper">
                    <div class="m-subheader ">
                        <div class="d-flex align-items-center">
                            <div class="mr-auto">
                                <h3 class="m-subheader__title m-subheader__title--separator">
                                    Информация о тасках сертификата</h3>
                                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                                    <li class="m-nav__item m-nav__item--home">
                                        <a href="#" class="m-nav__link m-nav__link--icon">
                                            <i class="m-nav__link-icon la la-home"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="m-content">
                        <div class="m-portlet m-portlet--mobile">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Поиск по сертификатам
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                <form class="m-form m-form--fit m--margin-bottom-20">
                                    <div class="row m--margin-bottom-20">
                                        <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                                            <label>Номер сертификата</label>
                                            <div class="custom-select-crm-2">
                                                <v-select :options="token_list" v-model="filter_token" ></v-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-separator m-separator--md m-separator--dashed"></div>
                                    <div class="row m--margin-bottom-20">
                                        <div class="col-lg-12">
                                            <button type="button"  class="btn btn-brand m-btn m-btn--icon" @click="filter()" >
                                                    <span>
                                                        <i class="la la-search"></i>
                                                        <span>Поиск</span>
                                                    </span>
                                            </button>

                                        </div>
                                    </div>
                                </form>
                                <div class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-striped- table-btasked table-hover table-checkable dataTable dtr-inline"
                                                       id="m_table_1" role="grid" aria-describedby="m_table_1_info" >
                                                    <thead>
                                                    <tr role="row">
                                                        <td>Номер сертификата</td>
                                                        <td>Дата создания</td>
                                                        <td>ФИО</td>
                                                        <td>Телефон</td>
                                                        <th>Действия</th>
                                                    </tr>
                                                    </thead>
                                                    <tfoot>
                                                    <tr>
                                                        <td>Номер сертификата</td>
                                                        <td>Дата создания</td>
                                                        <td>ФИО</td>
                                                        <td>Телефон</td>
                                                        <th>Действия</th>
                                                    </tr>
                                                    </tfoot>
                                                    <tbody>
                                                    <tr v-for="order in orders" role="row" class="odd">
                                                        <td>{{ order.token_1 }}</td>
                                                        <td>{{ order.created_at | moment("DD-MM-YYYY")}}</td>
                                                        <td>{{ order.name }}</td>
                                                        <td>{{ order.phone }}</td>
                                                        <td>
                                                        <span class="dropdown">
                                                                <a href="#" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">
                                                                  <i class="la la-ellipsis-h"></i>
                                                                </a>
                                                                <div class="dropdown-menu dropdown-menu-right">
                                                                    <a @click="handleUpdate(order)" data-toggle="modal" data-target="#m_modal_4" class="dropdown-item" href="#"><i class="la la-edit"></i> Просмотреть таски</a>
                                                                </div>
                                                            </span>
                                                            <a @click="handleUpdate(order)" data-toggle="modal" data-target="#m_modal_4" href="#"
                                                               class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill"
                                                               title="View">
                                                                <i class="la la-edit"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="m_scroll_top" class="m-scroll-top">
            <i class="la la-arrow-up"></i>
        </div>
        <div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Таски по сертификату {{ c_order.token_1 }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="m-form m-form--fit m-form--label-align-right" ref="task" method="POST" >
                            <div class="m-demo" v-for="(task,index) in c_order.tasks">
                                <div class="m-portlet__body m-demo__preview">
                                    <div class="form-group m-form__group">
                                        <label style="font-size: 2rem;">Обращение № <span class="m-badge m-badge--brand">{{ index+1 }}</span></label>
                                    </div>
                                    <div class="form-group m-form__group">
                                        <label>Тема обращения</label>
                                        <input v-model="task.subject" readonly class="form-control m-input" type="text">

                                        <label>Комментарий</label>
                                        <textarea v-model="task.comment" readonly class="form-control m-input" id="exampleTextarea" rows="3"></textarea>

                                        <label>Крайняя дата</label>
                                        <input v-model="task.date" readonly class="form-control m-input" type="date">

                                        <label>Крайнее время</label>
                                        <input v-model="task.time" readonly class="form-control m-input" type="time">

                                        <label>Исполнитель</label>
                                        <input v-model="task.admin.name+' '+task.admin.email" readonly class="form-control m-input" type="text">

                                        <label>Статус</label>
                                        <input v-model="task.status" readonly class="form-control m-input" type="text">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

    import crm_header from './includes/Header.vue';
    import crm_menu from './layouts/Menu.vue';
    const moment = require('moment');
    require('moment/locale/es');
    Vue.use(require('vue-moment'), {
        moment
    });
    export default {
        props: [ 'customer'],
        components: {
            crm_header,
            crm_menu
        },
        data() {
            return {
                orders: [],
                c_order: [],
                token_list: [],
                admin_list: [],
                filter_token:'',
            };
        },
        created() {
            axios.post('/admin/task-stats').then(response => (this.orders = response.data));
            axios.post('/admin/token-list').then(response => (this.token_list = response.data));
            axios.post('/admin/admin-list').then(response => (this.admin_list = response.data));
            },
        methods: {
            handleUpdate: function (order) {
                this.c_order = Object.assign({}, order);
                $( ".close" ).trigger( "click" );
            },
            filter: function () {
                axios.post('/admin/task/filter-stat', {
                    'token': this.filter_token
                })
                    .then(
                        response => (
                            this.orders = response.data
                        )
                    );
            },
        }
    }
</script>




