.t-menu__link-item--custom img {
    width: 13px;
    height: 17px;
    margin-right: 7px;
    margin-bottom: -2px;
}

.table-custom {
    width: 100%;
    border: 1px solid #EAEFF2;
    border-radius: 10px;
}

.table-custom--mt {
    margin-top: 50px;
}

.table-custom th {
    padding: 20px 30px;
    text-align: left;
    color: #97A0A5;
    font-size: 15px;
    font-weight: 500;
    background-color: #EFF4F7;
}

.table-custom th:first-child {
    border-radius: 10px 0 0 0;
}

.table-custom th:last-child {
    border-radius: 0 10px 0 0;
}

.table-custom td {
    padding: 20px 30px;
    font-size: 16px;
    font-weight: 300;
}

.table-custom tbody tr:nth-child(2n) td {
    background-color: #EFF4F7;
}

.table-custom tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

.table-custom tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

.table-custom__infoWrap {
    display: flex;
    align-items: center;
}

.table-custom__infoWrap img {
    width: 22px;
    height: 22px;
}

.table-custom__info {
    margin-left: 10px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.table-custom__infoContent {
    background-color: #FFFFFF;
    box-shadow: 0 10px 38px rgba(119, 127, 132, 0.2);
    width: 260px;
    padding: 25px;
    border-radius: 10px;
    top: calc(100% + 10px);
    left: 0;
    font-size: 14px;
    font-weight: 300;
    position: absolute;
    color: #000;
    line-height: 1.5;
    opacity: 0;
    transition: all .2s linear;
    pointer-events: none;
}

.table-custom__info:hover .table-custom__infoContent {
    opacity: 1;
    pointer-events: visible;
}

.custom-section form {
    max-width: 650px;
    margin: 40px auto 0;
}

.custom-section form.custom-section__custom-form {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.custom-section form input {
    font-family: 'Roboto', Arial, sans-serif;
    color: #000;
    border: 1px solid #DADFE2;
    background-color: transparent;
    font-size: 16px;
    font-weight: 300;
    padding: 23px 20px;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    transition: all .2s linear;
    height: 67px;
}

.custom-section form input:focus {
    border: 1px solid #000;
}

.custom-section form input::placeholder {
    font-family: 'Roboto', Arial, sans-serif;
    color: #969A9C;
}

.custom-section .reg-page-form__char {
    position: relative;
}

.custom-section .reg-page-form__char + .reg-page-form__char {
    margin-top: 15px;
}

.custom-section form.custom-section__custom-form .reg-page-form__char {
    width: 47%;
    margin-top: 15px;
}

.custom-section form.custom-section__custom-form .reg-page-form__char label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.custom-section .pass-exit {
    color: #445BEA;
    font-size: 14px;
    font-weight: 300;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

.custom-section__errorForm {
    width: 100%;
}

.custom-section__errorForm .registration-error {
    font-size: 14px;
    color: #ff8562;
}

.custom-section__errorForm .registration-error + .registration-error {
    margin-top: 5px;
}

.custom-section__errorForm .registration-error:last-child {
    margin-bottom: 10px;
}

.custom-section__popup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -20px;
    align-items: flex-start;
}

.custom-section .t-submit {
    transition: all .2s linear;
}

.custom-section .t-submit:hover {
    opacity: .7;
}

.custom-section__popup-card {
    width: calc((100% / 2) - 41px);
    margin: 20px;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

.custom-section__popup-card .t-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto 0;
    width: 250px;
    height: 40px;
}

.custom-section__popup-card .text {
    opacity: .6;
    line-height: 1.5;
}

.custom-section__popup-card .t-submit + .t-submit {
    margin-top: 15px;
}

.custom-section__popup-card-title {
    margin: -10px -10px 0;
    background-color: #13ce66;
    padding: 30px 10px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.custom-section__menu {
    margin-left: 10px;
    position: relative;
}

.custom-section__menu::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 20px;
    right: 100%;
    top: 0;
}

.custom-section__menu img {
    cursor: pointer;
}

.custom-section__menuInner {
    top: 0;
    right: 0;
    position: absolute;
    transition: all .2s linear;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    padding-top: 25px;
    z-index: 2;
}

.custom-section__menuInnerwrap {
    background-color: #FFFFFF;
    box-shadow: 0 10px 38px rgba(119, 127, 132, 0.2);
    padding: 25px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

.custom-section__menuInner a {
    color: #000;
}

.custom-section__menu:hover .custom-section__menuInner {
    opacity: 1;
    pointer-events: visible;
}

.menu-adaptive__burger {
    width: 25px;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s ease-out;
    opacity: 0;
    pointer-events: none;
}

.menu-adaptive__burger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000000;
}

.menu-adaptive__burger span + span {
    margin-top: 5px;
}

/*.chart-container {*/
    /*width: 350px;*/
    /*height: 300px;*/
/*}*/

.highcharts-yaxis-grid .highcharts-grid-line {
    display: none;
}

.highcharts-axis-labels.highcharts-yaxis-labels text {
    display: none !important;
}

.custom-text {
    font-size: 22px !important;
}

.custom-text br {
    display: block !important;
}

.reg-page-form__checkbox-wrap {
	display: flex;
	align-items: flex-start;
	margin-top: 30px !important;
}

form input.reg-page-form__checkbox {
	height: 15px;
	width: 15px;
	cursor: pointer;
	margin: 0;
	flex-shrink: 0;
}

form input.reg-page-form__checkbox + label {
	cursor: pointer;
	padding-left: 15px;
	margin-bottom: 0 !important;
}

/*.chart {*/
    /*height: 300px;*/
    /*max-width: 1000px;*/
    /*margin: 30px auto 0;*/
    /*display: flex;*/
    /*position: relative;*/
    /*overflow: hidden;*/
    /*padding-bottom: 25px;*/
/*}*/

/*.chart::before {*/
    /*content: '';*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 25px;*/
    /*right: -20%;*/
    /*left: 0;*/
    /*background-color: #fff;*/
    /*transform: rotate(-16deg);*/
    /*transform-origin: bottom left;*/
    /*border-bottom: 2px solid #000;*/
/*}*/

/*.chart__column {*/
    /*width: calc((100% / 6) - 1px);*/
    /*border-right: 1px solid #000;*/
    /*border-bottom: 2px solid #000;*/
    /*display: flex;*/
    /*align-items: flex-end;*/
    /*justify-content: center;*/
    /*text-align: center;*/
    /*flex-shrink: 0;*/
/*}*/

/*.chart__text {*/
    /*margin-bottom: -25px;*/
    /*line-height: 22px;*/
    /*font-size: 14px;*/
    /*white-space: nowrap;*/
/*}*/

/*.chart__column:nth-child(1) {*/
    /*background: linear-gradient(0.25turn, #b9272a, #c64b30);*/
/*}*/

/*.chart__column:nth-child(2) {*/
    /*background: linear-gradient(0.25turn, #c64b30, #c7703b);*/
/*}*/

/*.chart__column:nth-child(3) {*/
    /*background: linear-gradient(0.25turn, #c7703b, #d6d054);*/
/*}*/

/*.chart__column:nth-child(4) {*/
    /*background: linear-gradient(0.25turn, #d6d054, #a1d25c);*/
/*}*/

/*.chart__column:nth-child(5) {*/
    /*background: linear-gradient(0.25turn, #a1d25c, #2d9b64);*/
/*}*/

/*.chart__column:nth-child(6) {*/
    /*background: linear-gradient(0.25turn, #2d9b64, #2d9b64);*/
    /*border-right: 2px solid #000;*/
/*}*/

@media only screen and (max-width: 1366px) {
    .t456__list .t456__list_item {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
    }

    .table-custom__infoContent {
        left: auto;
        right: 0;
    }

    .table-custom .t-submit {
        font-size: 14px;
        height: 45px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media only screen and (max-width: 1199px) {
    .menu-adaptive__burger {
        opacity: 1;
        pointer-events: visible;
    }

    .menu-adaptive {
        overflow-y: hidden;
        max-height: 0;
        transition-property: all;
        transition-duration: .7s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        padding: 0;
        opacity: 0;
        pointer-events: none;
        margin-top: -25px;
    }

    .menu-adaptive.active {
        max-height: 270px;
        padding: 20px 0;
        opacity: 1;
        pointer-events: visible;
    }
}

@media screen and (max-width: 960px) {
    .custom-section .t-container {
        max-width: 100%;
    }

    .table-custom th,
    .table-custom td {
        padding: 20px 10px;
    }

    .popup__wrap {
        padding: 20px !important;
    }

    .custom-section__popup {
        margin: -10px;
    }

    .custom-section__popup-card {
        width: calc((100% / 2) - 21px);
        margin: 10px;
    }

    .chart {
        height: 30vw;
    }

    .chart__text {
        margin-bottom: -16px;
        line-height: 14px;
        font-size: 11px;
    }
}

@media screen and (max-width: 768px) {

    .custom-section__popup {
        margin: 0;
    }

    .custom-section__popup-card {
        width: 100%;
        margin: 10px 0;
    }

    .table-custom thead {
        display: none;
    }

    .table-custom tbody {
        display: flex;
        flex-direction: column;
    }

    .table-custom tbody tr {
        display: flex;
        flex-direction: column;
    }

    .table-custom tbody td {
        padding: 15px 10px;
    }

    .table-custom tbody td:first-child {
        padding: 30px 10px 15px;
    }

    .table-custom tbody td:last-child {
        padding: 15px 10px 30px;
    }

    .custom-section form.custom-section__custom-form .reg-page-form__char {
        width: 100%;
    }

    /*.chart__text {*/
        /*font-size: 14px;*/
    /*}*/

    .chart__text {
        display: none;
    }

    .chart__column:first-child .chart__text,
    .chart__column:last-child .chart__text {
        display: block;
    }
}

@media only screen and (max-width: 599px) {
    .chart__text {
        font-size: 12px;
    }

    .otp-logo {
        margin-top: -20px !important;
    }
}

@media only screen and (max-width: 480px) {
    .chart__text {
        margin-bottom: -26px;
        line-height: 10px;
    }

    .chart__column:nth-child(6) .chart__text {
        margin-left: -10px;
    }
}