.full-height {
    min-height: 100%;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-form__group.has-danger .form-control-feedback {
    font-size: 1.4rem;
}

.m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-text, .m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text {
    font-size: 1.8rem;
}

html, body {
    font-family: Roboto !important;
}

.m-header-menu .m-menu__nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.m-header-menu .m-menu__nav > .m-menu__item {
    display: flex;
    align-items: center;
}

.m-header-menu {
    width: 100%;
}

.m-header-menu .m-menu__nav > .m-menu__item.m-menu__item--rel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 auto;
}

.m-header-menu .m-menu__nav > .m-menu__item.m-menu__item--rel.m-menu__item--last {
    flex: 10 1 auto;
}

.m-header-menu .m-menu__nav > .m-menu__item.m-menu__item--rel img {
    width: 200px;
    margin-left: auto;
}

.custom-select-crm .select2-container {
    display: block;
}

.custom-select-crm-1 .select2-container {
    display: block;
}

.custom-select-crm-2 .select2-container {
    display: block;
}

@media only screen and (max-width: 1024px) {

    .m-menu__nav.m-menu__nav--submenu-arrow {
        flex-direction: column;
    }

    .m-menu__nav.m-menu__nav--submenu-arrow li.m-menu__item {
        margin-top: 10px;
    }

    .m-menu__nav.m-menu__nav--submenu-arrow li.m-menu__item.m-menu__item--last {
        background-color: #fff;
        position: relative;
    }

    .m-menu__nav.m-menu__nav--submenu-arrow li.m-menu__item.m-menu__item--last:hover {
        background-color: #fff !important;
    }

    .m-menu__nav.m-menu__nav--submenu-arrow li.m-menu__item.m-menu__item--last::before,
    .m-menu__nav.m-menu__nav--submenu-arrow li.m-menu__item.m-menu__item--last::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 28px;
        left: -28px;
        background-color: #fff;
    }

    .m-menu__nav.m-menu__nav--submenu-arrow li.m-menu__item.m-menu__item--last::after {
        left: auto;
        right: -28px;
    }
}

/*.select2-results__options li:first-child{*/
/*display: none;*/
/*}*/
