<template>
    <div id="m_ver_menu"
         class="m-aside-menu m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark m-scroller ps"
         m-menu-vertical="1" m-menu-scrollable="1" m-menu-dropdown-timeout="500"
         style="position: relative;">
        <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
            <!--<li class="m-menu__item " aria-haspopup="true">-->
            <!--<a href="stats" class="m-menu__link ">-->
            <!--<i class="m-menu__link-icon flaticon-line-graph"></i>-->
            <!--<span class="m-menu__link-title">-->
            <!--<span class="m-menu__link-wrap">-->
            <!--<span class="m-menu__link-text">-->
            <!--Статистика-->
            <!--</span>-->
            <!--<span class="m-menu__link-badge"></span>-->
            <!--</span>-->
            <!--</span>-->
            <!--</a>-->
            <!--</li>-->
            <li class="m-menu__item " aria-haspopup="true">
                <a href="orders" class="m-menu__link ">
                    <i class="m-menu__link-icon flaticon-list-3"></i>
                    <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text">
                                Заказы
                            </span>
                            <span class="m-menu__link-badge"></span>
                        </span>
                    </span>
                </a>
            </li>
            <li class="m-menu__item " aria-haspopup="true">
                <a href="tasks" class="m-menu__link ">
                    <i class="m-menu__link-icon flaticon-web"></i>
                    <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text">
                                Таски
                            </span>
                            <span class="m-menu__link-badge"></span>
                        </span>
                    </span>
                </a>
            </li>
            <li class="m-menu__item " aria-haspopup="true">
                <a href="task-stats" class="m-menu__link ">
                    <i class="m-menu__link-icon flaticon-line-graph"></i>
                    <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text">
                                Статистика по сертификатам
                            </span>
                            <span class="m-menu__link-badge"></span>
                        </span>
                    </span>
                </a>
            </li>
            <li v-if="this.customer.role == 'admin'"  class="m-menu__item " aria-haspopup="true">
                <a href="admins" class="m-menu__link ">
                    <i class="m-menu__link-icon flaticon-users"></i>
                    <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text">
                                Создание админов
                            </span>
                            <span class="m-menu__link-badge"></span>
                        </span>
                    </span>
                </a>
            </li>
            <li v-if="this.customer.role == 'admin'"  class="m-menu__item " aria-haspopup="true">
                <a href="bz-admins" class="m-menu__link ">
                    <i class="m-menu__link-icon flaticon-tabs"></i>
                    <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text">
                                БЗ Админ
                            </span>
                            <span class="m-menu__link-badge"></span>
                        </span>
                    </span>
                </a>
            </li>
            <li   class="m-menu__item " aria-haspopup="true">
                <a href="bz-all" class="m-menu__link ">
                    <i class="m-menu__link-icon flaticon-tabs"></i>
                    <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text">
                                БЗ Пользователь
                            </span>
                            <span class="m-menu__link-badge"></span>
                        </span>
                    </span>
                </a>
            </li>

        </ul>
    </div>
</template>


<script>
    export default {
        props: [ 'customer']
    }

</script>




